<!DOCTYPE html>
<html lang="en">
    <head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="">
	<meta name="author" content="">

	<title>WABY - What a Bummer! Yo!</title>

	<!-- Bootstrap core CSS -->
	<link href="https://www3.nd.edu/~pbui/static/css/blugold.css" rel="stylesheet">
	<link href="http://netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

	<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
	<!--[if lt IE 9]>
	<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
	<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
	<![endif]-->

	<style>
	body {
	    margin: 10px;
	}
	</style>
    </head>
    <body>
	<div class="container">

	    <div class="row">
		<div class="page-header">
		    <h1><i class="fa fa-code"></i> WABY - What a Bummer! Yo!</h1>
		</div>
	    </div>

	    <div class="row">
		<div class="col-md-12">
		<table class="table table-striped table-bordered">
		    <thead>
			<th>User</th>
			<th>Language</th>
			<th>Source</th>
			<th>Line Count</th>
			<th>Status</th>
		    </thead>
		    <tbody>
			{% for user, data in sorted(scores.items(), key=lambda p:p[1]['lines']) %}
			{% set user = user.split('|')[0] %}
		    <tr>
			<td>{{ user }}</td>
			<td>{{ data['language'] }}</td>
			<td><a href="{{ data['source'] }}">{{ data['source'].split('/')[-1] }}</a></td>
			<td>{{ data['lines'] }}</td>
			<td>
			<span class="label label-{{ 'danger' if data['status'] != 0  else 'success' }}">
			{{ data['result'] }}
			</span>
			</td>
		    </tr>
		    {% end %}
		    </tbody>
		</table>
		</div>
	    </div>
	    
	    <div class="row">
		<hr/>
		<div class="col-md-12">
		    <p>To submit your code, use the following curl command:</p>
		    <pre>curl -F user=$USER -F source=@$FILE xavier.h4x0r.space:9325</pre>

		    <p>Replace <code>$USER</code> with your
		    <strong>netid</strong> and <code>$FILE</code> with the name
		    of your source file.</p>

		</p>
		</div>
	    </div>

	    <div class="row">
		<hr/>

		<footer class="text-center">
		    <p class="text-muted">
		    <small>
			Built using
			<a href="http://twitter.github.com/bootstrap/">Bootstrap</a>,
			<a href="http://fortawesome.github.com/Font-Awesome/">Font Awesome</a>
			<a href="http://www.tornadoweb.org/en/stable/">Tornado</a>, and
			<a href="http://www.python.org/">Python</a>.
		    </small>
		    </p>
		</footer>
	    </div>

	</div> <!-- /container -->

	<!-- Bootstrap core JavaScript
	================================================== -->
	<!-- Placed at the end of the document so the pages load faster -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    </body>
</html>
